<sin-fieldset legend="Assets:">
    <span class="opt-float-right">
        <input type="button"
               value="Add Job"
               ng-click="ctrl.createJob()"
               ng-hide="assets.job.level > -1" />
        <input type="button"
               value="Add Contact"
               ng-click="ctrl.createContact()" />
    </span>

    <table cellpadding="0" cellspacing="0">
        <tr>
            <td width="75pt">Job:</td>
            <td>
                <span ng-hide="assets.job.level > -1" >
                    None
                </span>
                <span ng-show="assets.job.level > -1" >
                    Monthly salary:
                    {{ assets.calcSalary() }}cr
                </span>
                &nbsp; &nbsp;
            </td>
        </tr>
        <tr>
            <td>Contacts:</td>
            <td>
                <span ng-hide="assets.countContact(1) > 0 || assets.countContact(2) > 0">None</span>
                <span ng-show="assets.countContact(1) > 0 || assets.countContact(2) > 0">
                    {{ assets.countContact(1); }} contact(s) and {{ assets.countContact(2); }} friend(s)
                </span>
            </td>
        </tr>
    </table>
</sin-fieldset>

<sin-fieldset legend="Job" ng-show="assets.job.level > -1">
    <span class="opt-float-right">
        <input type="button"
               value="Delete Job"
               ng-click="ctrl.removeJob()" />
    </span>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>Skill:</td>
            <td>
                <dt-skill-select filter="skills.filterSkillTrained()" skill="assets.job.skill">
                </dt-skill-select>
                <br/>

                <dt-spec-select skill="assets.job.skill" spec="assets.job.spec" trained="true">
                </dt-spec-select>
                <br/>

                Total skill: {{ assets.calcJobRanks() >=0 ? assets.calcJobRanks() : 0  }}
                <br/>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>Employer: &nbsp; </td>
            <td>
                <input type="text" placeholder="Company name" ng-model="assets.job.employer"/>
            </td>
        </tr>
        <tr>
            <td><label for="job-rank">Job rank: </label></td>
            <td>
                <select id="job-rank" ng-model="assets.job.level" >
                    <option value="0">50cr, level 0 @ 0pt</option>
                    <option value="1">100cr, level 1</option>
                    <option value="2">150cr, level 2</option>
                    <option value="3">200cr, level 3</option>
                    <option value="4">250cr, level 4</option>
                    <option value="5">300cr, level 5 @ 1pt</option>
                    <option value="6">350cr, level 6</option>
                    <option value="7">400cr, level 7</option>
                    <option value="8">450cr, level 8</option>
                    <option value="9">500cr, level 9 @ 2pts</option>
                    <option value="10">550cr, level 10</option>
                    <option value="11">600cr, level 11</option>
                    <option value="12">650cr, level 12</option>
                    <option value="13">700cr, level 13</option>
                </select>
            </td>
        </tr>
    </table>
</sin-fieldset>

<sin-fieldset ng-repeat="(id,contact) in assets.contacts" legend="{{ assets.typeContact(id) }} - {{ contact.name }} ( {{ skills.nameSkill(contact.skill) }} )">
    <span class="opt-float-right">
        <input type="button"
               value="Delete"
               ng-click="ctrl.removeContact(id)" />
    </span>
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text"
                       ng-model="contact.name"
                       placeholder="Contact name" />
            </td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <input type="radio" ng-model="contact.type" id="contact-type-1" value="1" />
                <label for="contact-type-1">Contact (3/+1)</label>

                <input type="radio" ng-model="contact.type" id="contact-type-2" value="2" />
                <label for="contact-type-2">Friend (5/+2)</label>
            </td>
        </tr>
        <tr>
            <td>Skill:</td>
            <td>
                <dt-skill-select filter="skills.filterSkillNotType('Soul')" skill="assets.contacts[id].skill">
                </dt-skill-select>
            </td>
        </tr>
    </table>
</sin-fieldset>