<fieldset>
    <legend>Main Information:</legend>
    <span class="opt-float-right">
        <input type="button"
               ng-click="ctrl.sendClick()"
               name="send"
               value="Send Downtime"
               title="Generate and submit the downtime email. This will wipe any saved downtime information that is not re-usable." />
        <br />
        <input type="button"
               ng-click="ctrl.resetClick()"
               name="reset"
               value="Reset Form"
               title="" />
        <br />
        <br />

        <sin-help ng-show="dtime.showHelp" help="ctrl.help.editCharacter"></sin-help>
        <input type="checkbox"
               ng-model="dtime.editCharacter" />
        Edit Character <br />

        <sin-help ng-show="dtime.showHelp" help="ctrl.help.autoLoad"></sin-help>
        <input type="checkbox"
               ng-model="dtime.autoLoad" />
        Auto load <br />

        <sin-help ng-show="dtime.showHelp" help="ctrl.help.direct"></sin-help>
        <input type="checkbox"
               ng-model="dtime.directSumbit" />
        Direct submit <br />

        <sin-help ng-show="dtime.showHelp" help="ctrl.help.showHelp"></sin-help>
        <input type="checkbox"
               ng-model="dtime.showHelp" />
        Enable help <br />
        <br />

        <span ng-show="persist.isStorageAvailable()">
            <input type="button"
                   class="btn-float-size"
                   name="load"
                   ng-click="ctrl.loadClick()"
                   ng-disabled="!persist.isStorageSaved()"
                   value="Load"
                   title="Load details that have been previously saved in the browser. Will not load temporary (non-reusable) information after a downtime has been submitted." />
            <input type="button"
                   class="btn-float-size"
                   name="save"
                   ng-click="ctrl.saveClick()"
                   value="Save"
                   title="Save details from the curent state of downtime in the browser. Any temporary (non-reusable) information, such as the downtime actions, will only be saved until the downtime is submitted." />
            <br />
        </span>

        <!--input type="file" /-->
        <!--input  type="button"
                class="btn-float-size"
                name="impo"
                ng-click="ctrl.impoClick()"
                value="Import" />
        <input  type="button"
                class="btn-float-size"
                name="expo"
                ng-click="ctrl.expoClick()"
                value="Export" /-->
    </span>
    <br />

    <table cellpadding=0 cellspacing=0>
        <tr>
            <td>Name:</td>
            <td>
                <input  type="text"
                        ng-model="dtime.player"
                        placeholder="Your name"
                        title="The name of the player, i.e. your name." />
                <sin-help ng-show="dtime.showHelp" help="ctrl.help.player"></sin-help>
            </td>
        </tr>
        <tr>
            <td>Character:</td>
            <td>
                <input  type="text"
                        ng-model="dtime.name"
                        placeholder="Character name"
                        title="The name of the character submitting the downtime." />
                <sin-help ng-show="dtime.showHelp" help="ctrl.help.char"></sin-help>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input  type="text"
                        ng-model="dtime.email"
                        placeholder="Email address"
                        title="Your email address, used to submit the downtime and/or to receive a copy." />
                <sin-help ng-show="dtime.showHelp" help="ctrl.help.email"></sin-help>
            </td>
        </tr>
    </table>

    <br />
    <!--Simple or Advanced here --><br />
    <!-- br /-->

    Submission month:
    <select ng-model="dtime.month"
            ng-change="ctrl.startChange()"
            ng-options="item.num as item.long for item in dtime.calendar">
    </select>
    <sin-help ng-show="dtime.showHelp" help="ctrl.help.month"></sin-help>
    <br />
    <br />
    <br />

    <!--br/>
    Months to submit:
    <select ng-model="ctrl.state.month_option"
            ng-change="ctrl.monthChange()"
            ng-options="num for num in [1,2,3,4]" >
    </select-->
    <!-- input type="hidden" ng-model="ctrl.state.month_option" value="1"-->
</fieldset>
<br />
