{{equip.list}}<br />

<sin-fieldset legend="Equipment:">
    <span class="opt-float-right">
        <input type="button" name="add" value="Add New" ng-click="ctrl.newClick()" /><br />
    </span>

    <select name="type"
            ng-options="type.val as type.desc for type in ctrl.data.types"
            ng-model="ctrl.state.optType" >
        <option value="">--- select type ---</option>
    </select>
    <span class="help" ng-show="ctrl.state.optType && dtime.showHelp">{{ctrl.data.types[ctrl.state.optType].help}}</span>
</sin-fieldset>

<sin-tabbed-panes initial="item">
    <div class="pane-link-group">
        <sin-pane-link tab="item"       ng-show="equip.countEquipTotal()>0" >General Items</sin-pane-link>
        <sin-pane-link tab="cyber"      ng-show="equip.countEquip('cyber')>0" >Cyberware</sin-pane-link>
        <sin-pane-link tab="bio"        ng-show="equip.countEquip('bio')>0" >Bioware</sin-pane-link>
        <sin-pane-link tab="deck"       ng-show="equip.countEquip('deck')>0" >Cyberdecks</sin-pane-link>
        <sin-pane-link tab="software"   ng-show="equip.countEquip('software')>0" >Software</sin-pane-link>
    </div>

    <sin-pane ng-repeat="(id, item) in equip.list" tab="{{item.type}}">
        <dt-equip-item id="id" item="item"></dt-equip-item>
    </sin-pane>
</sin-tabbed-panes>