<sin-fieldset legend="{{item.name}}">
    <span class="opt-float-right">
        <input type="button" name="removeItem" value="Delete" ng-click="ctrl.removeClick()" /><br />
    </span>

    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>Item: </td>
            <td>
                <input type="text"
                       ng-model="item.name" />
            </td>
            <td>
                <input type="button" name="addEffect" value="Add Effect" ng-click="ctrl.newEffectClick()" /><br />
            </td>
        </tr>
        <tr>
            <td>Legality: </td>
            <td>
                <select ng-model="item.legality">
                    <option value="{{ equip.legality(['U']); }}" >U</option>
                    <option value="{{ equip.legality(['LE']); }}" >LE</option>
                    <option value="{{ equip.legality(['LE', 'M']); }}" >M/LE</option>
                    <option value="{{ equip.legality(['M']); }}" >M</option>
                    <option value="{{ equip.legality(['Med']); }}">Med</option>
                    <option value="{{ equip.legality(['Med', 'LE', 'M']); }}" >M/LE/Med</option>
                </select>
            </td>
        </tr>
        <tr ng-repeat-start="(key, effect) in item.effects" >
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Skill: </td>
            <td>
                <dt-skill-select filter="skills.filterSkillNotType('Soul')"
                                 skill="effect.skill" >
                </dt-skill-select>
                <br />
                <dt-spec-select skill="effect.skill"
                                spec="effect.spec" >
                </dt-spec-select>
            </td>
            <td>
                <input type="button" name="removeEffect" value="Remove" ng-click="ctrl.removeEffectClick(key)" /><br />
            </td>
        </tr>
        <tr ng-repeat-end >
            <td>Effect: </td>
            <td>
                <select ng-model="effect.base">
                    <option value="0">--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                &nbsp; / &nbsp;
                <select ng-model="effect.plus">
                    <option value="0">--</option>
                    <option value="1">+1</option>
                    <option value="2">+2</option>
                    <option value="3">+3</option>
                    <option value="3">+4</option>
                    <option value="3">+5</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</sin-fieldset>
