<span ng-show="skills.filterSkillTrained().length>0" >
    <select ng-options="spec as skills.nameSpec(spec) for spec in skills.filterSpecTrained(bindSkill)"
            ng-model="bindSpec"
            ng-change="changed()" >
        <option value="" >--- no spec ---</option>
    </select>
    <input type="hidden"
           ng-model="bindRank" >
    <span ng-show="showRank" >
        {{ (bindSpec ? " +" : "") + skills.rankSpec(bindSpec) }}
    </span>
</span>
<span ng-hide="skills.filterSkillTrained().length>0" >
    No specs available
</span>
