<sin-fieldset legend="Skills:">
    <span ng-show="skills.filterSkillUntrained().length>0">
        <select ng-model="skills.newSelected"
                ng-disabled="skills.lockSkillEdit"
                ng-options="skill as skills.nameSkill(skill) group by skills.typeSkill(skill) for skill in skills.filterSkillUntrained()" >
            <option value="">--- new skill ---</option>
        </select>
        <input type="button"
               value="Add"
               ng-click="ctrl.addClick()"
               ng-disabled="skills.lockSkillEdit" />
    </span>
  
    <div class="opt-float-right">
        <input type="checkbox" ng-model="skills.lockSkillEdit">
        Lock skills
    </div>
  
    <table width="100%">
        <thead>
            <tr ng-show="skills.filterSkillTrained().length>0">
                <th width="200px">Skill name</th>
                <th width="65px">Ranks</th>
                <th>Training</th>
                <th colspan="2">&nbsp;</th>
            </tr>
        </thead>

        <tbody ng-repeat="type in skills.types">

            <tr ng-show="skills.isTypeTrained(type)">
                <th colspan=4>{{type}}</th>
            </tr>

            <tr ng-repeat-start="skill in skills.filterTypeTrained(type)">
                <td class="pad-right">
                    {{ skills.nameSkill(skill); }}
                </td>
                <td class="pad-right">
                    <dt-skill-rank
                            skill="skill"
                            disabled="skills.lockSkillEdit" >
                    </dt-skill-rank>
                </td>
                <td class="pad-right" >
                    <span ng-show="skills.trainableSkill(skill)>0">
                        {{ skills.slotsSkill(skill) + '/' + skills.trainableSkill(skill) + ' slots' }}
                        <input type="range"
                               min="0"
                               max="{{ skills.trainableSkill(skill) - 1 }}"
                               ng-model="skills.bindings[skill].slots"
                               ng-hide="skills.lockSkillEdit"
                               ng-disabled="skills.lockSkillEdit"
                               class="sel-sizematch" />
                    </span>
                </td>
                <td class="pad-right">
                    <span ng-show="skills.filterSpecUntrained(skill).length>0">
                        <select ng-model="spec"
                                ng-hide="skills.lockSkillEdit"
                                ng-disabled="skills.lockSkillEdit"
                                ng-options="spec as skills.nameSpec(spec) for spec in skills.filterSpecUntrained(skill)">
                        </select>
                        <input type="button"
                               ng-hide="skills.lockSkillEdit"
                               ng-disabled="skills.lockSkillEdit"
                               ng-click="ctrl.addSpecClick(spec)"
                               value="Add Spec" />
                    </span>
                </td>
                <td>
                    <span class="opt-float-right">
                        <input type="button"
                               ng-click="ctrl.removeClick(skill)"
                               ng-hide="skills.lockSkillEdit"
                               ng-disabled="skills.lockSkillEdit"
                               value="Remove" />
                    </span>
                </td>
            </tr>
            <tr ng-repeat-end ng-repeat="spec in skills.filterSpecTrained(skill)">
                <td class="pad-right">+ {{ skills.nameSpec(spec) }}</td>
                <td class="pad-right">
                    <dt-spec-rank
                            spec="spec"
                            disabled="skills.lockSkillEdit" >
                    </dt-spec-rank>
                </td>
                <td class="pad-right">
                    <span ng-show="skills.trainableSpec(spec)>0">
                        {{ skills.slotsSpec(spec) + '/' + skills.trainableSpec(spec) + ' slots' }}
                        <input type="range"
                               min="0"
                               max="{{ skills.trainableSpec(spec) - 1 }}"
                               ng-model="skills.bindings[spec].slots"
                               ng-hide="skills.lockSkillEdit"
                               ng-disabled="skills.lockSkillEdit"
                               class="sel-sizematch" />
                    </span>
                </td>
                <td>&nbsp;</td>
                <td>
                    <span class="opt-float-right">
                        <input type="button"
                               ng-click="ctrl.removeSpecClick(spec)"
                               ng-hide="skills.lockSkillEdit"
                               ng-disabled="skills.lockSkillEdit"
                               value="Remove" />
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</sin-fieldset>
